<div class="container-fluid heading">
	<div class="row-fluid">
		<div class="span12">
			<h1><%= render_page_title(resource.title) %></h1>
			<h2 id="heading-sub">We like to believe that our work speaks for itself.</h2>
		</div>
	</div>
	<%= render_next_previous %>
</div>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span8">
			<%= render_slideshow_for(resource) %>
			<%= render_html_text(resource.body) %>
			<%= render_resource_categories %>
			<%= render_resource_stickers %>
		</div>
		<div class="span4">
			<%= yield :sidebar %>
		</div>
	</div>
</div>
